{% extends "base.html" %}

{% block content %}
    
    <!-- when the user submits this form, it will send the information submitted from the client (frontend)
    to the server (backend). It will send that infromation to a particular URI, at "/color". 
    Your server will then run the code which is defined in website.py at that route. -->

    <form action="/color" method="post">
        <!-- add the contents of your form here -->
        <label for="name"> Color: </label>
        <input type="text" name="color" id="color" required>
        <input type="submit" name="submit" id="submit" value="Let's GOOO">
    </form>

    </p>

{% endblock %}