<!-- This html template will start off all of your other html files/pages -->

<!DOCTYPE html>
<html>
  <head>
    <!-- the page title will be a varible passed to the render_template() function for each page separately-->
    <title> {{ page_title }}</title>
  	<meta charset="utf-8"/>
    <!-- include the css from the file static/style.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>

  <!-- this headline will appear on all pages. -->
  <header>
    <table>
      <tr>
        <h1> CODE University </h1> 
      </tr>
      <tr>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/first-page">Education</a></li>
          <li><a href="/secound-page">About</a></li>
        </ul>
      </tr>
    </table>
  </header>

  <!-- This is the part which will be different on each page. 
       see first-page.html for an example of using it -->
  <main>
    {% block content%}
    {% endblock %}
  </main>
  <footer>
    <h3> Made with love </h3>
  </footer>
  </body>