{% extends "base.html" %}

{% block content %}
    <p> By looking at the website in your browser and seeing this code in your editor, 
    maybe you can start to see what is going on. There are some things that we want on 
    every page, like the header or the footer, so we will code that once in the file base.html, 
    and use that as a building block in other files to create the specific pages we need. 

    This is a key principle of software engineering, called Don't Repeat Yourself, or the DRY principle. 
    The core idea is to make mistakes in your code in exactly one place and reuse that code everywhere, instead 
    of copy-pasting your buggy code all over the place. It is much harder to fix that way. 
{% endblock %}