* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: Arial, sans-serif;
    letter-spacing: 0.1pt;
    font-size: 30pt;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial;
    margin: 2rem;
    line-height: 3;
}

.banner {
    margin-top: 2rem;
    color: black;
    margin-bottom: 1rem;
}

footer {
    margin-top: 5rem;
    text-align: center;
}